@model MvcCV.Models.Sınıf.Class1
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<table class="table table-bordered">
    <thead>
        <tr>
            <th>ID</th>
            <th>TITLE</th>
            <th>SUBTITLE</th>
            <th>DEPARTMENT</th>
            <th>GPA</th>
        </tr>
    </thead>
    <tbody>
        @foreach(var x in Model.Deger3)
        {
            <tr>
                <th>@x.ID</th>
                <td>@x.TITLE</td>
                <td>@x.SUBTITLE</td>
                <td>@x.DEPARTMENT</td>
                <td>@x.GPA</td>
            </tr>
        }
    </tbody>
</table>
<a href="/Education/NewEducation/" class="btn btn-primary">Add New Education</a>

