@model MvcCV.Models.Sınıf.Class1
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<table class="table table-bordered">
    <thead>
        <tr>
            <th>ID</th>
            <th>NAME</th>
            <th>SURNAME</th>
            <th>ADDRESS</th>
            <th>PHONE</th>
            <th>MAIL</th>
        </tr>
    </thead>
    <tbody>
        @foreach(var x in Model.Deger1)
        {
        <tr>
            <th>@x.ID</th>
            <td>@x.NAME</td>
            <td>@x.SURNAME</td>
            <td>@x.ADDRESS</td>
            <td>@x.PHONE</td>
            <td>@x.MAIL</td>
        </tr>
        }
    </tbody>
</table>

